/**********************************************************/
/**************     General Styles ************************/
/**********************************************************/
@charset "UTF-8";
/* CSS Document */

:root {
  --primary-color: black;
  --secondary-color: gray;
  --warning-color: red;
  --bg-color: #fff;
  --marker-border: #002d71;
  --marker-fill: #c0d3ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.max-width-wrapper {
  background-color: #f2f2f2;
  min-height: 100%;
  max-width: 1440px;
  overflow: hidden;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  margin: 0;
}
/**********************************************************/
/**************     Header and Nav Section ****************/
/**********************************************************/
header {
  display: flex;
}

.header {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 15px;
  height: 120px;
  width: 175px;
}

.header__item {
  font-family: "Open Sans";
  color: var(--marker-border);
  height: 40px;
  margin: 0;
}

.nav {
  margin: 5px;
  /* width: 60%; */
  display: flex;
  align-self: flex-end;
}

.nav__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.nav__search {
  position: relative;
  display: inline-block;
}

/* Dropdown search list */
#nav__fieldSelect {
  width: 160px;
  margin-bottom: 10px;
}

/* Search Box */
#search-value {
  margin-bottom: 10px;
}

.search_button_style {
  background-color: var(--bg-color);
  border: solid var(--marker-border) 1px;
  color: var(--marker-border);
  border-radius: 2px;
  height: 30px;
  min-width: 120px;
  font-weight: bold;
  vertical-align: center;
}

.inverse_search_button_style {
  background-color: var(--marker-border);
  border: solid var(--marker-border) 1px;
  color: var(--bg-color);
  border-radius: 3px;
  height: 30px;
  min-width: 75px;
  font-weight: bold;
  padding: 0;
}

#search-btn {
  margin-left: -5px;
  margin-right: 3px;
}

.nav__dropdown {
  display: none;
  position: absolute;
  z-index: 999;
}

.nav__dropdownItem {
  text-decoration: none;
  text-align: center;
}

.nav__search:hover .nav__dropdown {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 14px;
}

/**********************************************************/
/**************     Map Section ***************************/
/**********************************************************/
#map {
  width: 100%;
  height: 63vh;
}

.map__popupItem {
  font-size: smaller;
}

.map__popupValue {
  font-size: small;
  font-weight: bold;
}

.map__popupRow {
  padding-bottom: 0.2em;
}

.legend {
  background: rgba(255, 255, 255, 1);
  border: solid 1px var(--secondary-color);
  padding: 0px 10px 10px 10px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.legend p {
  text-align: center;
  font-weight: bold;
}

.legend__inline {
  display: inline-block;
  padding: 0px 5px;
  vertical-align: middle;
}

.legend__circle {
  background-color: var(--marker-fill);
  border-radius: 50%;
  border: solid 3px var(--marker-border);
}

.--size1 {
  width: 10px;
  height: 10px;
}

.--size2 {
  width: 20px;
  height: 20px;
}

.--size3 {
  width: 30px;
  height: 30px;
}

.--size4 {
  width: 40px;
  height: 40px;
}

#warning-display {
  font-size: small;
  color: var(--warning-color);
  height: 16px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none;
}

.leaflet-tooltip {
  background: rgba(256, 256, 256, 0.9);
  border: none;
  font-size: 12px;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  width: 90px;
  position: absolute;
  top: 10px;
}

.leaflet-popup-tip {
  max-width: 15px;
  max-height: 15px;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

.leaflet-popup-content-wrapper {
  background: rgba(256, 256, 256, 0.9);
  border: none;
  box-shadow: none;
  position: absolute;
  top: 10px;
  color: var(--marker-border);
}

.leaflet-popup-close-button {
  background: var(--marker-fill) !important;
  position: absolute;
  font-weight: bold;
  border-radius: 50%;
}

.fa-angle-down {
  font-size: 18px;
}
/**********************************************************/
/**************    Footer Section  ************************/
/**********************************************************/
.footer {
  font-family: "Open Sans";
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer__item__span {
  margin-left: 10px;
  margin-right: 10px;
}

#git,
#chingu {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

/* Spacing around footer icons */
.fa-github,
#chingu img {
  margin-right: 5px;
}

/**********************************************************/
/**************    Tablet View  ************************/
/**********************************************************/
@media (min-width: 768px) {
  header {
    margin-bottom: 10px;
  }
  #main-nav-wrapper br {
    display: none;
  }

  #search-filter {
    margin-right: 10px;
  }

  #search-btn {
    margin-left: 15px;
  }

  #map {
    width: 100%;
    height: 70vh;
  }
  .footer {
    margin-bottom: 5px;
  }
}

.main__table-container {
  width: 97%;
  margin: 5px auto;
}

#summary-table-container {
  height: 380px;
}

#summary-table th {
  width: 50%;
}

#detailed-table-container {
  overflow: auto;
  height: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 12px;
  background-color: var(--marker-fill);
}

#detailed-table th {
  position: sticky;
  top: 0;
}

td {
  font-size: 10px;
  text-align: left;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

#histogram-year,
#histogram-composition {
  padding: 5px;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#figures-container {
  display: flex;
  width: 100%;
  height: 80%;
}
