@charset "UTF-8";
/* CSS Document */

:root {
  --primary-color: black;
  --secondary-color: gray;
  --warning-color: red;
  --bg-color: #fff;
  --marker-border: #002d71;
  --marker-fill: #c0d3ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;   
}

.max-width-wrapper {
  background-color: #F2F2F2;
  min-height: 100%; 
  max-width: 1440px;
  /* Overflow: hidden hides the excess portions of the decorative elements so there isn't a 
  horizontal scrollbar, plus make sure margin is 0 so displays to the edge */
  overflow: hidden;
  margin: 0;
 } 

figure {
  margin: 0;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.nav__search {
  position: relative;
  display: inline-block;
}

.nav__searchFieldBtn {
  background-color: var(--bg-color);
  color: var(--primary-color);
  text-decoration: none;
  width: 100px;
  font-size: 14px;
  text-align: center;
}

.nav__dropdown {
  display: none;
  position: absolute;
  z-index: 999;
}

.nav__dropdownItem {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: solid var(--secondary-color) 1px;
  text-decoration: none;
  text-align: center;
}

.nav__search:hover .nav__dropdown {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 14px;
}

.nav__countrySelect {
  margin: 16px;
  padding: 0 27px;
}

.map__popupItem {
  font-size: smaller;
}

.map__popupValue {
  font-size: small;
  font-weight: bold;
}

.map__popupRow {
  padding-bottom: 0.2em;
}

.legend {
  background: rgba(255, 255, 255, 1);
  border: solid 1px var(--secondary-color);
  padding: 0px 10px 10px 10px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.legend p {
  text-align: center;
  font-weight: bold;
}

.legend__inline {
  display: inline-block;
  padding: 0px 5px;
  vertical-align: middle;
}

.legend__circle {
  background-color: var(--marker-fill);
  border-radius: 50%;
  border: solid 3px var(--marker-border);
}

.--size1 {
  width: 10px;
  height: 10px;
}

.--size2 {
  width: 20px;
  height: 20px;
}

.--size3 {
  width: 30px;
  height: 30px;
}

.--size4 {
  width: 40px;
  height: 40px;
}

#warning-display {
  font-size: small;
  color: var(--warning-color);
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none;
}

.leaflet-tooltip {
  background: rgba(256, 256, 256, 0.9);
  border: none;
  font-size: 12px;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  width: 90px;
  position: absolute;
  top: 10px;
}

.leaflet-popup-tip {
  max-width: 15px;
  max-height: 15px;
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

.leaflet-popup-content-wrapper {
  background: rgba(256, 256, 256, 0.9);
  border: none;
  box-shadow: none;
  position: absolute;
  top: 10px;
  color: var(--marker-border);
}

.leaflet-popup-close-button {
  background: var(--marker-fill) !important;
  position: absolute;
  font-weight: bold;
  border-radius: 50%;
}

.fa-angle-down {
  font-size: 18px;
}